# Python
-Numbers 
-Strings
-Print Formatting

In [3]:
first_name='Harsh'
last_name='Vala'
print("My First Name is {first} and Last Name is {last}".format(last=last_name,first=first_name))

My First Name is Harsh and Last Name is Vala

## Part 2
-Boolean
-Boolean and Logical Operator 
-Lists
-Comparison Operators
-Dictionaries
-Tuples
-Sets

In [ ]:
#Bool is the datatype and contains many inbuilt functions such as isnum, isalpha, isalnum and many more.

In [ ]:
#Boolean and Logical operation, logical operations inlcude and, or, not 
#using boolean methods with logical operators

In [12]:
my_str="Harsh Vala"
str_exa="Harsh"
print(my_str.isalnum() or str_exa.isalpha())

True

## List

In [23]:
# list can be created two ways either via inbuilt function or by list operators, below displayed repectievely.
mylist=list()
mylist1=[1,2,3,4,5,6]
#type(mylist)
#type(mylist1)
mylist=["Hello","World",1,2,3,4] #len() function to find length of list
len(mylist)

6

In [42]:
#appending =list.append(), inserting =list.insert(item,index), extending =list.extend(item/s) and indexing =using ":" operator
mylist1.append("haze")
mylist.append(["hello2","harsh"])
#print(mylist)
#print(mylist1)
# appending items in list will always insert items at the last intex
#indexing or slicing are way of printing list items,by default index starts with 0, below displayed
mylist[:] # whole list printing
mylist[:6] # while using slicing operator, ending is excluded. last item minus 1 will be considerd.
mylist[2:6] # another example for sclicing operator.
mylist.insert(11,"inserted") # insert function adds item at specified index.
mylist=[1,2,3,4,5,6,7]
mylist.extend([5,6,7,8]) # extend function will append multiple items without creating nested list
mylist

[1, 2, 3, 4, 5, 6, 7, 5, 6, 7, 8]

In [61]:
#inbuilt functions like sum(list), list.pop(index),list.count(value), list.index(value,search_start_index,search_end_index)
lst=[1,3,5,7,9,3]

In [45]:
sum(lst) # sum of all the list items

25

In [46]:
lst.pop() # deleting last item form the list

9

In [48]:
lst.pop(2) # deleting the specific item based on the index specified from the list

5

In [53]:
lst.count(3) # count number of occurance of item specified from the list

2

In [63]:
lst.index(5) # returns index of specified list item from the list.
lst.index(3,2) # returns index of specified list item from the list with optional parameter as index to start searching from index.

5

## Sets 
- sets are iterable, mutable and non-redudant group of elements.

In [85]:
set1=set()
set1={1,2,3,4,5}
set1.add("hulk") # add new element in set
set2={1,2,3,4,5,3}
set1
set2

{1, 2, 3, 4, 5}

In [73]:
set2.difference(set1) # returns set difference from two sets (mathematically)

{5}

In [74]:
set2.difference_update(set1)# returns set difference from two sets (mathematically) and updates the values of set2

In [86]:
set1

{1, 2, 3, 4, 5, 'hulk'}

In [90]:
set2.intersection_update(set1) #returns intersection of two sets

In [89]:
set2

{1, 2, 3, 4, 5}

## Dictionaries
-group of keyvalue pairs

In [94]:
my_dict=dict()

In [95]:
my_dict={"car1":"Maruti","car2":"Toyota","car3":"BMW"}

In [99]:
for x in my_dict.values():
    print(x)

Maruti
Toyota
BMW

In [100]:
for x in my_dict.items():
    print(x)

('car1', 'Maruti')
('car2', 'Toyota')
('car3', 'BMW')

In [102]:
my_dict["car4"]="tata"

In [103]:
my_dict

{'car1': 'Maruti', 'car2': 'Toyota', 'car3': 'BMW', 'car4': 'tata'}

In [105]:
car1_model={'Mercides':1998}
car2_model={'Bugati':1845}
car3_model={'Mercides':1927}

car={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [106]:
car

{'car1': {'Mercides': 1998},
 'car2': {'Bugati': 1845},
 'car3': {'Mercides': 1927}}

In [109]:
print(car["car2"]["Bugati"])

1845

## Tuples
-tuples are unmutable, and whole tuple can be replaced but item cannot be replaced

In [113]:
my_tlp=tuple()
my_tlp=('hello','world','harsh','harsh')
my_tlp

('hello', 'world', 'harsh', 'harsh')

In [115]:
my_tlp.count('harsh')

2

In [116]:
my_tlp.index('world')

1